.app {
    margin: 0px;
    width: 100%;
}
.content {
    padding: 0;
    background-color: var(--header);
    color: white;    
    margin:0px auto;
    padding-left: 0 !important;
    -webkit-transition: all .35s ease;
    -moz-transition: all .35s ease;
    -ms-transition: all .35s ease;
    -o-transition: all .35s ease;
    transition: all .35s ease;
}

.whiteBox {
    background-color: white;
    margin: 0px;
    margin-top: 15px;
    padding: 10px;    
    box-shadow: var(--shadow)
}

.right-panel {
    display: table-cell;
    width: 79%;
    padding-left: 0 !important;
    -webkit-transition: all .35s ease;
    -moz-transition: all .35s ease;
    -ms-transition: all .35s ease;
    -o-transition: all .35s ease;
    transition: all .35s ease;
}

@media only screen and (min-width: 1600px) {
    .right-panel {
        width: 85.5%;
    }
}

@media only screen and (max-width: 800px) {
    .right-panel {
        width: 72%;
    }
}


