.cfgArea {
    margin: 0px;
    padding: 15px;
    display: inline-flex;   
}

.cfgText {
    display: block;
    width: 50%;
    height: 150px;
    margin-top: 15px;
    margin-right: 15px;
    position: relative;

    color: var(--sideMenu);    
    background-color: #f9f9f9; 
    font-size: 16px;
    text-align: center;
    padding-top: 15px;
    opacity: 0.5;
    border: 1px dashed gray;
}

.cfgDescription {
    font-size: 12px;
    margin-top: 5px;
    margin-left: 20%;
    margin-right: 20%;

}

.cfgSpan {
    position: absolute;
    margin: auto;
    right: 0;
    left: 0;
    bottom: 15px;
    font-size: 22px;
}

