body {
    --body: #F3F3F3;
    --header: #E6E6E6;
    --sideMenu3: #0e131c;
    --sideMenu2: #19202e;
    --sideMenu: #36404E;
    --pageTitle: #555555;
    --pageSubtitle: gray;
    --ulMenu: #727677;
    --ulMenuHover: #068089;

    --blue: #229ED1;
    --blueHover: rgb(11, 98, 130);
    --red: #cf4c51;
    --redHover: #5B0F13;
    --yellow: #E7AA37;
    --yellowHover: rgb(184, 114, 28) ;
    --purple: #996df7;
    --purpleHover: #37099b;
}

body {
    --shadow: 2px 2px 2px 0px #c7c7c7;
    --strongerShadow: 3px 3px 5px 0px #6f6f6f;
}

.red {
    color: #cf4c51;
}

/* #region BLUE BG*/
#blue {
    background-color: var(--blue)
}

#blue:hover {
    background-color: var(--blueHover);
    opacity: unset;
    transition-duration: 0.25s;
}

#blueCurve {    
    background-color: var(--blueHover);
}


/* #endregion */
/* #region YELLOW BG */
#yellow {
    background-color: var(--yellow)
}

#yellow:hover {
    background-color: var(--yellowHover);
    opacity: unset;
    transition-duration: 0.25s;
}

#yellowCurve {    
    background-color: var(--yellowHover);
}


/* #endregion */
/* #region RED BAG */
#red {
    background-color: var(--red)
}

#red:hover {
    background-color: var(--redHover);
    opacity: unset;
    transition-duration: 0.25s;
}

#redCurve {    
    background-color: var(--redHover);
}

/* #endregion */
/* #region PURPLE BAG */
#purple {
    background-color: var(--purple)
}

#purple:hover {
    background-color: var(--purpleHover);
    opacity: unset;
    transition-duration: 0.25s;
}

#purpleCurve {    
    background-color: var(--purpleHover);
}



/* #endregion */