.header {
    padding: 0;
    background-color: var(--header);
    color: white;    
    clear: both;
    display: inline-block;
    width: 100%;
}

.headerItens { 
    text-align: right;
    height: 40px;
    padding-right: 30px;  
}

.searchGroup {
    float: left;
    margin-left: 15px;
    width: 80%;
    height: 100%;
    text-align: left;
    position: relative;
    color: gray;
}
  
.inputSearch {
    border: none;
    height: 30px;
    width: 100px;
    position: absolute;
    padding-left: 10px; 
    top: 0px;
    height: 100%;
    text-align: left;  
    font-size: 12px;
}

.inputSearch:focus {
    background-color: white;
    transition: width 2s;
    width: 300px;
}

#searchIcon {
    background-color: #d5d5d5;
    height: 100%;
    width: 50px;
    display: block;
    padding-top: 8px;
    float: left;
    text-align: center;
}


.user {
    position: relative;    
}

.userName {
    color: var(--sideMenu);
    font-size: 12px;
    position: absolute;
    left: -65px;
    top: 4px;
}

.filterButton {
    height: 100%;
    margin-left: 15px;
    border: none;
    background-color: var(--sideMenu);
}


@media only screen and (min-width: 1600px) {
    .headerItens {
        margin: 0 auto;
        max-width: 1400px;
        margin-left: 120px;
    }
}
