.header {
    padding: 0;
    background-color: var(--header);
    color: white;    
    margin:0px auto;
    margin-left: -15px;
    margin-right: -15px;
}

.headerItens { 
    text-align: right;
    height: 40px;
}
