.whiteBox > label {
    color: var(--pageSubtitle);    
    font-weight: 600;
    letter-spacing: 0.02em;
}

.radioGroup {
    padding-left: 0px;
}

.titleRadioGroup {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-bottom: 1px dashed var(--header);
}

.formBlock {
    margin-top: 15px;
}

.formTitle {
    color: var(--pageTitle);
    display: block;
    width: 100%;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 11px;
    margin-bottom: 0px;
    letter-spacing: 0.09em;
}

.formTitle > span {
    color: var(--red);
    display: none;
}

.formDescription {
    color: var(--pageSubtitle);
    letter-spacing: 0.05em;
    font-weight: 500;
    display: block;
    width: 100%;
    font-size: 13px;
}

.inputText {
    width: 100%;
    border: 1px solid var(--header);
    border-bottom: none;
    border-right: none;
    box-shadow: var(--shadow);
    height: 30px;
    margin-top: 10px;
    padding-left: 10px;

    color: gray;
}

.selectGroup {    
    position: relative;
}

.select {
    width: 100%;
    border: 1px solid var(--header);
    border-bottom: none;
    border-right: none;
    box-shadow: var(--shadow);
    height: 30px;
    margin-top: 10px;
    padding-left: 10px;
    appearance: none;

    color: gray;
}

#selectArrow {
    position: absolute;
    right: 0;
    top: 12px;
    color: gray;
}

