aside.sideMenu {    
    /* background-image: linear-gradient(var(--sideMenu3), var(--sideMenu), var(--sideMenu2)); */
    background-color: var(--sideMenu);
    display: table-cell;
    height: 100vh;
    min-height: 100%;
    padding: 0 25px;
    vertical-align: top;
    width: 280px;
    transition: width 0.3s ease;
}


.menuTitle {
    height: auto;
    margin-top: 0px;
    padding-top: 15px;   
    padding-bottom: 15px; 
    text-align: center;
}

.menuAreaName {
    text-transform: uppercase;
    color: var(--blue);
    font-weight: 600;
    letter-spacing: 0.05em;
    font-size: 12px;
}

.menuSiteName {
    color: #efefef;
    font-weight: 600;
    letter-spacing: 0.05em;
    font-size: 13px;
    text-transform: uppercase;
}

.menuSite {
    list-style: none;
    padding: 0;
    margin-top: 15px;
    width: 100%;
}

.menuSite > a > li {
    height: 45px;
    padding-left: 15px;
    padding-top: 8px;
    border-top: 1px dashed #fff6;
}

.menuSite > a > li:hover {
    background-color: var(--sideMenu3);
    cursor: pointer;
}


.textMenu {
    position: absolute;    
    padding-left: 15px;
    margin-top: 5px;
    
    color: #efefef;
    font-family: 'Roboto' , sans-serif;
    font-size: 11px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

.textMenu:hover {
    cursor: pointer;
}

