.sideMenu {  
    padding: 0px;
    text-align: left;
    position: fixed; 
    height: 100%;
    z-index: 1; 
    top: 0; 
    left: 0;
    background-image: linear-gradient(var(--sideMenu3), var(--sideMenu), var(--sideMenu2));
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; 
}

.menuTitle {
    height: auto;
    margin-top: 0px;
    padding-top: 15px;   
    padding-bottom: 15px; 
    text-align: center;
}

.menuAreaName {
    text-transform: uppercase;
    color: var(--blue);
    font-weight: 600;
    letter-spacing: 0.05em;
    font-size: 12px;
}

.menuSiteName {
    color: #efefef;
    font-weight: 600;
    letter-spacing: 0.05em;
    font-size: 13px;
    text-transform: uppercase;
}

.menuSite {
    list-style: none;
    padding: 0;
    margin-top: 15px;
    width: 100%;
}

.menuSite > li {
    height: 45px;
    padding-left: 15px;
    padding-top: 8px;
    border-top: 1px dashed #fff6;
    border-bottom: 1px dashed #fff6;
}

.menuSite > li:hover {
    background-color: var(--sideMenu3);
    cursor: pointer;
}


.textMenu {
    position: absolute;    
    padding-left: 15px;
    margin-top: 5px;
    
    color: #efefef;
    font-family: 'Roboto' , sans-serif;
    font-size: 11px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

